@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* *{
  padding: 0;
  margin:0;
  box-sizing: border-box;
} */

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.column{
  /* column-count: 4;
  column-width: 250px; */
  columns: 4 250px;
  column-rule: 3px dashed #000 ;
  column-gap: 3rem;
}

.column p{
  margin-top: 0;
}

.column h2{
  margin-top: 0;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  break-inside: avoid;
  /* break-after: column; */
  /* break-before: column; */
}

.column .quote{
  font-size: 3rem;
  text-align: center;
  color: #333;
  column-span: all;
  margin-top: 2rem;
}

.norap{
  white-space: nowrap;
}
