@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}

html{scroll-behavior: smooth;}
.outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
}

.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
  
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

.absolute{
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.relative{
  background-color: red;
  position: relative;
  top:100px;
  left:20px;
}

.fixed{
  background-color: green;
  position: fixed;
  top: 100px;
  left: 40px;
}

.sticky{
  background-color: #000;
  position: sticky;
  top:0;
}

/* different section */

section{
  height: 100vh;
}

.blue{background-color: blue;}
.red{background-color: red;}
.green{background-color: green;}

header, footer{
  color: #fff;
  background-color: #000;
  text-align: center;
  height: 100px;
}

header{
  position: sticky;
  font-size: 5rem;
  top: 0;
}

footer{
  background-color: #000;
  position: sticky;
  bottom: 0;
  font-size: 3rem;
}

a:visited{
  color: #fff;
}

.social{
  background-color: greenyellow;
  color: #fff;
  font-size: inherit;
  padding: 1rem;
  position: fixed;
  top:30%;
  left: 0;
  z-index: 1;
}

h2{
  text-align: center;
}